
<section class="hero h-color is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-light">
        Welcome To Alpha Blog!
      </h1>
      <h2 class="subtitle has-text-light">
        Do your thing
      </h2>
      <p class="button is-medium b-hover"> <%= link_to "sign up", signup_path  %></p>
    </div>
  </div>
</section>