<%= render 'layouts/navigation' %>
<section class="hero h-color is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome To Alpha Blog!
      </h1>
      <h2 class="subtitle">
        Do your thing
      </h2>
    </div>
  </div>
</section>