<br>
<h1 class="title"> Listing Of Categories </h1>

<%= will_paginate %>
<% @categories.each do |category|%>
  <ul>
    <li class="button is-flex is-primary"> <%= link_to "#{category.name}", category_path(category) %> </li>
    <br>
  </ul>
<% end %>
<%= will_paginate %>
