<nav class="navbar h-color-1" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ">
  
      <%= link_to "Alpha Blog", articles_path, class: "navbar-item is-size-5 has-text-light has-text-weight-bold" %>
   

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>